[*.{cs,csx,cake,vb,vbx}]

file_header_template = Wrap: .NET monads.\nCopyright (c) bfren - licensed under https://mit.bfren.dev/2019

# IDE0073: Require file header
dotnet_diagnostic.IDE0073.severity = error

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0390: Make method synchronous
dotnet_diagnostic.IDE0390.severity = none
