name: Test

on:
  push:
    branches-ignore:
      - 'main'
    tags-ignore:
      - '**'
    paths:
      - '**'
  workflow_dispatch:

env:
  DOTNET_NOLOGO: true                     # Disable the .NET logo in the console output
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true # Disable the .NET first time experience to skip caching NuGet packages and speed up the build
  DOTNET_CLI_TELEMETRY_OPTOUT: true       # Disable sending .NET CLI telemetry to Microsoft

jobs:
  restore-build-test:
    runs-on: ubuntu-latest
    steps:
    -
      name: Prepare - Checkout Code
      uses: actions/checkout@v6
    -
      name: Prepare - Read Version
      uses: bfren/read-file@v2
      with:
        file: ./Version
      id: version
    -
      name: Prepare - Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    -
      name: Restore
      run: |
        dotnet restore Test.csproj
    -
      name: Style
      run: |
        dotnet format style Wrap.slnx \
          --no-restore
    -
      name: Build
      run: |
        dotnet build Test.csproj \
          --no-restore \
          --configuration Debug
    -
      name: Test
      run: |
        dotnet test Test.csproj \
          --no-restore \
          --no-build \
          --configuration Debug
  notify:
    runs-on: ubuntu-latest
    needs: restore-build-test
    steps:
    -
      if: success()
      name: Finish - Success
      uses: bfren/action-slack-notify@master
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_USERNAME: Wrap (GitHub)
        SLACK_MESSAGE: Tests Passed
        SLACK_COLOR: good
        SLACK_ICON: https://bfren.dev/img/logo-square-500x500.jpg
    -
      if: failure()
      name: Finish - Failure
      uses: bfren/action-slack-notify@master
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_USERNAME: Wrap (GitHub)
        SLACK_MESSAGE: Test Failed
        SLACK_COLOR: danger
        SLACK_ICON: https://bfren.dev/img/logo-square-500x500.jpg
